<form>
    <div class="form-group">
        <label for="inputName">Name</label>
        <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="fox.name">
    </div>
    <div class="form-group">
        <label for="inputAge">Age</label>
        <input type="number" class="form-control" id="inputAge" placeholder="Age" ng-model="fox.age">
    </div>
    <div class="form-group">
        <label for="inputDate">Birthday date</label>
        <input type="date" id="inputDate" placeholder="Date" ng-model="fox.birthday">
        <p class="help-block">For example, 22.02.2002</p>
    </div>
    <div class="form-group">
        <label for="inputColor">Color</label>
        <input type="text" class="form-control" id="inputColor" placeholder="Color" ng-model="fox.color">
    </div>
    <div class="form-group">
        <label for="inputLink">Link to image</label>
        <input type="text" class="form-control" id="inputLink" placeholder="Name" ng-model="fox.image">
    </div>
    <button type="button" class="btn btn-default" ng-click="addFox()">Create</button>
</form>