<div class="container-fluid">
    <div class="row">
        <div fox-filter field="selectedField" value="value"></div>
        <div class="col-sm-2" ng-repeat="fox in foxes | filterByField:selectedField:value">
            <div class="thumbnail">
                <img ng-src="{{fox.image}}" alt="Fox">
                <div class="caption">
                    <h3><a ui-sref="foxProfile({foxId: fox.id})">{{fox.name}}</a></h3>
                    <p>Age: {{fox.age}} y.o.</p>
                    <p>Color: {{fox.color}}</p>
                </div>
            </div>
        </div>
        <div ng-if="foxes.length === 0">
            <h1>Fox list is empty!</h1>
        </div>
    </div>
</div>
